.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}
.icon-loading{
	background:url('icons/loading.gif') no-repeat center center;
}
.icon-app{
	background:url('icons/app.jpg') no-repeat center center;
}
.icon-android{
	background:url('icons/android.png') no-repeat center center;
}
.icon-apple{
	background:url('icons/apple.gif') no-repeat center center;
}
.icon-update{
	background:url('icons/update.png') no-repeat center center;
}
.icon-tux{
	background:url('icons/tux.png') no-repeat center center;
}
.icon-ad{
	background:url('icons/ad.png') no-repeat center center;
}
.icon-transmit{
	background:url('icons/transmit.png') no-repeat center center;
}
.icon-time{
	background:url('icons/time.png') no-repeat center center;
}
.icon-cup{
	background:url('icons/cup.png') no-repeat center center;
}
.icon-world_add{
	background:url('icons/world_add.png') no-repeat center center;
}
.icon-group{
	background:url('icons/group.png') no-repeat center center;
}
.icon-pers{
	background:url('icons/pers.png') no-repeat center center;
}
.icon-star{
	background:url('icons/star.png') no-repeat center center;
}
.icon-up{
	background:url('icons/up.png') no-repeat center center;
}
.icon-down{
	background:url('icons/down.png') no-repeat center center;
}
.icon-right{
	background:url('icons/right.png') no-repeat center center;
}
.icon-delete{
	background:url('icons/delete.png') no-repeat center center;
}
.icon-ok2{
	background:url('icons/ok2.png') no-repeat center center;
}
.icon-key{
	background:url('icons/key.gif') no-repeat center center;
}
.icon-key_add{
	background:url('icons/key_add.png') no-repeat center center;
}
.icon-key_delete{
	background:url('icons/key_delete.png') no-repeat center center;
}
.icon-wand{
	background:url('icons/wand.png') no-repeat center center;
}
.icon-refresh{
	background:url('icons/refresh.gif') no-repeat center center;
}
.icon-user{
	background:url('icons/user.gif') no-repeat center center;
}
.icon-users{
	background:url('icons/users.gif') no-repeat center center;
}
.icon-admin{
	background:url('icons/admin.gif') no-repeat center center;
}
.icon-admin_add{
	background:url('icons/admin_add.gif') no-repeat center center;
}
.icon-admin_del{
	background:url('icons/admin_del.gif') no-repeat center center;
}
.icon-settings{
	background:url('icons/settings.gif') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.gif') no-repeat center center;
}
.icon-index{
	background:url('icons/index.png') no-repeat center center;
}
.icon-nav{
	background:url('icons/nav.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-fullscreen{
	background:url('icons/fullscreen.png') no-repeat center center;
}
.icon-pdf{
	background:url('icons/pdf.gif') no-repeat center center;
}
.icon-excel{
	background:url('icons/excel.gif') no-repeat center center;
}
.icon-word{
	background:url('icons/word.gif') no-repeat center center;
}